/* - -- --- DESKTOP-ONLY STYLES --- -- - */
@media only screen and (min-width: 812px) {
    .ctrl-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "keyboard mouse";
    }
    .ctrl-grid div {
        margin-bottom: none;
    }
    .gall-grid {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .overlay {
        font-size: 1.5em;
        padding: 0.15em;
    }
}